@charset "UTF-8";
:root {
    --font-f-black: 'Montserrat-Black';
    --font-f-bold: 'Montserrat-Bold';
    --font-f-semibold: 'Montserrat-SemiBold';
    --font-f-medium: 'Montserrat-Medium';
    --font-f-regular: 'Montserrat-Regular';
    --font-f-italic: 'Montserrat-Italic';
    --clr-text-white: #ffffff;
    --clr-text-primary: #000000;
    --clr-text-secondary: #333333;
    --clr-web-beige: #F9F0DD;
    --clr-web-light-french-beige: #C9B379;
}


/* General */

.f-f\:bold {
    font-family: var(--font-f-bold);
}

.f-f\:semibold {
    font-family: var(--font-f-semibold);
}

.f-f\:medium {
    font-family: var(--font-f-medium);
}

.f-sz\:28px {
    font-size: clamp(20px, 3.5vw, 28px);
}

.f-sz\:32px {
    font-size: clamp(24px, 3.75vw, 32px);
}

.f-sz\:60px {
    font-size: clamp(38px, 3.75vw, 60px);
}

.section__header {
    margin-bottom: 3rem;
}

.company-name {
    font-size: 16px;
    color: var(--clr-text-primary);
    text-transform: capitalize;
}

.home__title {
    color: var(--clr-text-primary);
}

.index-separator {
    width: 100%;
    background: url(../images/separate.png) center / contain no-repeat;
    margin: 2rem auto;
}


/* Header */

.header {
    /* display: none; */
}


/* Hamburger */

.hamburger {
    position: fixed;
    top: 1.25rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    height: 24px;
    background: transparent;
    cursor: pointer;
}

.hamburger:before,
.hamburger:after,
.hamburger span {
    display: block;
    height: 3px;
    background: var(--clr-web-light-french-beige);
    transition: all 0.3s ease-out;
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 100%;
}

.hamburger:before {
    top: 0;
}

.hamburger:after {
    top: calc(100% - 3px);
}

.hamburger span {
    width: 75%;
}

.hamburger.clicked:before,
.hamburger.clicked:after {
    top: calc(50% - 3px/2);
    bottom: unset;
}

.hamburger.clicked:before {
    transform: rotateZ(45deg);
}

.hamburger.clicked:after {
    transform: rotateZ(-45deg);
}

.hamburger.clicked span {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50px);
}

.close-button {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 24px;
    color: var(--clr-text-white);
    background: transparent;
}


/* Navigator */

.navigation nav {
    position: relative;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__item a {
    font-family: var(--font-f-medium);
    font-size: 21px;
    color: var(--clr-text-primary);
}


/* Navigation */

.navigation {
    position: relative;
    z-index: 999;
    padding: 2rem 0;
}


/* Slideshow */

.slideshow--left {
    width: 45.833333%;
}

.slideshow__name {
    font-family: var(--font-f-bold);
    font-size: clamp(24px, 3.75vw, 32px);
    color: var(--clr-text-primary);
    margin-bottom: 0.5rem;
}

.slideshow__desc {
    --line-clamp: 6;
    font-size: 16px;
    color: var(--clr-text-primary);
}

.slideshow__photo {
    display: grid;
    place-items: center;
}

.slideshow__photo-inner img {
    object-fit: cover;
    object-position: center bottom;
    width: 531px;
    height: 404px;
    -webkit-mask: url(../images/mask-slide.png) center center / cover no-repeat border-box;
    mask: url(../images/mask-slide.png) center center / cover no-repeat border-box;
}


/* Criteria */

.criteria__list {
    row-gap: 1.25rem;
}

.criteria__item {
    width: 25%;
}

.criteria__photo {
    display: grid;
    place-items: center;
    margin: 0 auto 2rem;
}

.criteria__photo-inner img {
    max-height: 62px;
}

.criteria__info-inner {
    text-align: center;
}

.criteria__name {
    font-family: var(--font-f-bold);
    font-size: 18px;
    color: var(--clr-text-primary);
    margin-bottom: 0.75rem;
}

.criteria__desc {
    --line-clamp: 5;
    font-size: 16px;
    color: var(--clr-text-primary);
}

.criteria .separate {
    display: block;
    width: 1px;
    height: auto;
    border: none;
    background: #000;
    margin: 0;
}


/* Product */

.product__list.flex-container {
    --columns: 4;
    --space-horizontal: 15px;
    --space-vertical: calc(var(--space-horizontal) * 2);
}

.product__item {
    border: 1px solid #000;
}

.product__info {
    padding: 1rem 0.5rem;
}

.product__info-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 0.75rem;
}

.product__name {
    --line-clamp: 2;
    font-size: 18px;
    color: var(--clr-text-primary);
    margin-bottom: 0.5rem;
}

.product__price {
    display: flex;
}

.product__price-icon {
    display: inline-block;
    margin-right: 0.5rem;
}

.product__price-number {
    font-family: var(--font-f-medium);
    font-size: 21px;
    color: var(--clr-text-primary);
}

.product__button {
    display: grid;
    place-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #c9b3794d;
}

.product__button i {
    font-size: 28px;
    color: var(--clr-web-light-french-beige);
    transition: all 0.3s ease-out;
}

.product__button:hover i {
    color: var(--clr-text-white);
}

.product__photo-inner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.pagination__list {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 0.375rem 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination__item {
    font-family: var(--font-f-bold);
    font-size: 24px;
    color: #D1D1CF;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.pagination__item--active,
.pagination__item:hover {
    font-size: 35px;
    color: #AA9356;
}

.wrapper {
    margin: 60px auto;
    text-align: center;
}

h1 {
    margin-bottom: 1.25em;
}

#pagination-demo {
    display: inline-block;
    margin-bottom: 1.75em;
}

#pagination-demo li {
    display: inline-block;
}

.page-content {
    background: #eee;
    display: inline-block;
    padding: 10px;
    width: 100%;
    max-width: 660px;
}


/* Insta Post */

.ig-post__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem 5rem;
}

.ig-post__info {
    width: 37.5%;
}

.ig-post__info-item {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.ig-post__info-item:not(:last-child) {
    margin-bottom: 1.5rem;
}

.ig-post__info-item-icon {
    flex-shrink: 0;
}

.ig-post__info-item-desc {
    font-size: 21px;
    color: var(--clr-text-primary);
}

.ig-post__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    font-size: 21px;
    color: var(--clr-text-primary);
    background: #fff;
    box-shadow: 7px 7px 0px 0px #000;
    padding: 1rem 1.5rem;
    margin-top: 5rem;
    transition: all 0.3s ease-out;
}

.ig-post__btn:hover {
    background: #fff;
    box-shadow: 0px 1px 5px 1px #000;
}

.ig-post__btn i {
    transition: all 0.3s ease-out;
}

.ig-post__btn:hover i {
    transform: translateX(5px);
}


/*details-info*/

.details-info {
    background-color: rgb(201 179 121 / 30%);
}

.details-info__inner {
    display: flex;
    justify-content: space-between;
}

.warning__list {
    width: 50%;
}

.warning__item {
    position: relative;
    padding-left: 0;
    padding-bottom: 20px;
    font-size: 18px;
}

.warning__item::before {
    content: '';
    position: absolute;
    background: url(/assets/images/icon-yarn.png)no-repeat;
    width: 28px;
    height: 28px;
    left: -40px;
    top: 0;
}

.qr-code {
    display: flex;
    gap: 20px;
}


/*footer*/

#footer-primary>.wrap-content {}

.footer__list-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.375rem 0.625rem;
}

.footer__media {
    display: flex;
    gap: 10px;
    align-items: center;
}