:root {
    --font-f-black: 'Montserrat-Black';
    --font-f-bold: 'Montserrat-Bold';
    --font-f-semibold: 'Montserrat-SemiBold';
    --font-f-medium: 'Montserrat-Medium';
    --font-f-regular: 'Montserrat-Regular';
    --font-f-italic: 'Montserrat-Italic';
    --clr-text-white: #ffffff;
    --clr-text-primary: #000000;
    --clr-text-secondary: #333333;
    --clr-web-beige: #F9F0DD;
    --clr-web-light-french-beige: #C9B379;
}


/* General */

.section__header {
    text-align: center;
    margin-bottom: 3rem;
}

.company-name {
    font-size: 16px;
    color: var(--clr-text-primary);
    text-transform: capitalize;
}

.home__title {
    font-family: var(--font-f-semibold);
    font-size: clamp(24px, 3.75vw, 32px);
    color: var(--clr-text-primary);
    text-transform: capitalize;
}

.index-separator {
    width: 1148px;
    background: url(../images/separate.png) center / contain no-repeat;
    margin: 2rem auto;
}


/* Navigator */

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__item a {
    font-family: var(--font-fml-medium);
    font-size: 21px;
    color: var(--clr-text-primary);
}


/* Navigation */

.navigation {
    position: relative;
    z-index: 999;
    padding: 2rem 0;
}


/* Slideshow */

.slideshow--left {
    width: 45.833333%;
}

.slideshow__name {
    font-family: var(--font-f-bold);
    font-size: clamp(24px, 3.75vw, 32px);
    color: var(--clr-text-primary);
    margin-bottom: 0.5rem;
}

.slideshow__desc {
    --line-clamp: 6;
    font-size: 16px;
    color: var(--clr-text-primary);
}

.slideshow__photo {
    display: grid;
    place-items: center;
}

.slideshow__photo-inner img {
    object-fit: cover;
    object-position: center bottom;
    width: 531px;
    height: 404px;
    -webkit-mask: url(../images/mask-slide.png) center center / cover no-repeat border-box;
    mask: url(../images/mask-slide.png) center center / cover no-repeat border-box;
}


/* Criteria */

.criteria__item {
    width: 280px;
}

.criteria__photo {
    display: grid;
    place-items: center;
    margin: 0 auto 2rem;
}

.criteria__photo-inner img {
    max-height: 62px;
}

.criteria__info-inner {
    text-align: center;
}

.criteria__name {
    font-family: var(--font-f-bold);
    font-size: 18px;
    color: var(--clr-text-primary);
    margin-bottom: 0.75rem;
}

.criteria__desc {
    --line-clamp: 5;
    font-size: 16px;
    color: var(--clr-text-primary);
}

.criteria .separate {
    display: block;
    width: 1px;
    height: auto;
    border: none;
    background: #000;
    margin: 0;
}


/* Product */

.product__list.flex-container {
    --columns: 3;
    --space-horizontal: 22.5px;
    --space-vertical: calc(var(--space-horizontal) * 2);
}

.product__item {
    border: 1px solid #000;
}

.product__info {
    padding: 1rem 0.5rem;
}

.product__info-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 0.75rem;
}

.product__name {
    --line-clamp: 2;
    font-size: 18px;
    color: var(--clr-text-primary);
    margin-bottom: 0.5rem;
}

.product__price {
    display: flex;
}

.product__price-icon {
    display: inline-block;
    margin-right: 0.5rem;
}

.product__price-number {
    font-family: var(--font-f-medium);
    font-size: 21px;
    color: var(--clr-text-primary);
}

.product__button {
    display: grid;
    place-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #c9b3794d;
}

.product__button i {
    font-size: 40px;
    color: var(--clr-web-light-french-beige);
    transition: all 0.3s ease-out;
}

.product__button:hover i {
    color: var(--clr-text-white);
}


/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.pagination__list {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 0.375rem 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination__item {
    font-family: var(--font-f-bold);
    font-size: 24px;
    color: #D1D1CF;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.pagination__item--active,
.pagination__item:hover {
    font-size: 35px;
    color: #AA9356;
}